<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <%= link_to "< Back to Tasks", '/tasks', class: 'btn' %>
                    <div class="content">
                        <h2><%= @task.name %></h2>
                        <p><%= @task.notes %></p>
                    </div>
            </div>
        </div>
    </div>
</div>
